HF_HUB_DOWNLOAD_TIMEOUT=300
HF_HUB_ENABLE_HF_TRANSFER=0
HF_HUB_DOWNLOAD_WORKERS=1 # Avoid Network Overload Errors
HF_TOKEN=<Your HF token here>
DEVICE_BATCH_SIZE=16 # Reduce from 128 to avoid OOM on A4000 16G 
DEPTH=6 # Reduce from 8
TOTAL_BATCH_SIZE=524288